:root{
  --background-color: #101020;
  --darkerBg: #151525;
  --white: #c3c5c2;
  --span-color: #119DA4;
  --span-off: #055b5f;
  --detail-color: #ff00c8;
  --animation-var: 1;
  --font: 'Orbitron', sans-serif;
  --secondaryFont: 'Ubuntu Mono', monospace;
  --i: 1;
  --i2:2;
  --i3:3;
  --i4:4;
}

*
{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;  
}
body{
  overflow-x: hidden;
}

.landing-container{
  background: var(--background-color);
  max-width: 100vw;
  min-height: 100vh;    
}


.landing-container__menu button
{
  display: none;
}
.landing-container__sign-container
  {
    width: 100vw;    
    color: var(--white);
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-family: var(--font);
    top: 35%;    
  }

  .landing-container__sign-container h1
  {
    width: fit-content;
    -webkit-box-reflect: below -30px linear-gradient(transparent, #0003);
    line-height: 0,7em;
    width: 100%;    
    text-align: center;
    font-size: 4em;
    letter-spacing: 1px;    
  }
  
  .landing-container__sign-container h1 span
  {
    color: var(--white);    
    text-shadow: 0 0 10px var(--span-color),
    0 0 20px var(--span-color),
    0 0 30px var(--span-color),
    0 0 40px var(--span-color),
    0 0 50px var(--span-color);
    animation: glow 5s linear;
    animation-timing-function: steps(5, end);
      
  }
  @keyframes glow {
    0.1%, 20.1%, 40.1%, 50.1%, 65.1%, 80.1%, 80%
    {
      color: var(--white);
      text-shadow: 0 0 10px var(--span-color),
      0 0 20px var(--span-color),
      0 0 30px var(--span-color),
      0 0 40px var(--span-color),
      0 0 50px var(--span-color);
    }
    0%, 20%, 21%, 40%, 41.4%, 50%, 65%,100%{     
      color: var(--span-off);
      text-shadow: none;
    }
  }
  .landing-container__sign-container h2
  {
    margin-top: .5em;
    text-align: center;
  }
  .landing-container__sign-container ul
  {
    list-style-type: none;
  }
  .landing-container__sign-container ul li
  {
    display: inline-block;
    margin: 1em;
  }
  
  .landing-container__sign-container ul li a 
  {
    text-decoration: none;
    color: var(--white);
    font-size: 2.5em;    
    transition: .2s;    
  }  
  
  .landing-container__sign-container ul li #a1{
    animation: colors 2s infinite;
    animation-delay: 1s;
  }
  .landing-container__sign-container ul li #a2{    
    animation: colors 2s infinite;
    animation-delay: .5s;
  }
  .landing-container__sign-container ul li #a3{
    animation: colors 2s infinite;
    animation-delay: .1.5s;
  }
  @keyframes colors {
    0%{
      color: white;
      
    }
    50%{
      color: var(--span-color);
      transform: scale(1.05);
    }
    100%{
      color: white;
    }
  }
  .landing-container__sign-container ul li #a1:hover
  {
    transform: scale(1.1);
    animation: none;
    color: var(--detail-color);
  }
  .landing-container__sign-container ul li #a2:hover
  {
    transform: scale(1.1);
    animation: none;
    color: var(--detail-color);
  }
  .landing-container__sign-container ul li #a3:hover
  {
    transform: scale(1.1);
    animation: none;
    color: var(--detail-color);
  }
  
.landing-container__menu .navContainer ul
{
  list-style: none;
  background: var(--darkerBg);
  box-shadow: 0px 2px 30px #111;
  padding-left: 35px;
}
.landing-container__menu .navContainer ul li
{
  display: inline-block;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  font-family: var(--secondaryFont);
  font-weight: 400;
  font-size: 1.2em;
  
}
.landing-container__menu .navContainer ul li a:hover
{
  color: var(--span-color);
  background: rgba(26, 26, 26, 0.76);
}
.landing-container__menu .navContainer ul li i
{
  transition: .5s;
}
.landing-container__menu .navContainer ul li:hover i{
  color: var(--detail-color);
}
.landing-container__menu .navContainer ul li a
{
  text-decoration: none;
  color: white;
  transition: .5s;
}
.landing-container__about-container
{
  background: var(--background-color);
  margin-top: 2em;
  padding: 4em;
}
.landing-container__project-container
{    
  background: var(--background-color);
  margin-top: 2em;
  padding: 1em;
}
.landing-container__about-container h1, .landing-container__project-container h1
{
  color: var(--white);
  font-size: 2.5em;
  letter-spacing: 2px;  
}
.landing-container__about-container span
{  
  font-family: var(--font);
}
.landing-container__about-container h1 #span2
{ 
  animation: glow 3s linear;
  animation-timing-function: steps(3, end);
}

.landing-container__project-container h1 #span1
{  
  font-family: var(--font);
}
.landing-container__about-container h1 #span2, .landing-container__project-container h1 #span2
{
  color: var(--span-color);
  font-family: var(--font);
}
.landing-container__about-container h2, .landing-container__project-container h2
{
  color: #555;
}
.landing-container__about-container p, .landing-container__project-container p
{
  color: var(--white);
  font-size: 1.1em;
  font-weight: 500;
  text-align: justify;
  margin-top: 2em;
  margin-bottom: 1em;
}

.landing-container__about-container a, .landing-container__project-container a
{  
  text-decoration: none;
  color: var(--detail-color);
  font-weight: bold;
  border: solid 2px var(--span-color);
  padding: 5px;
  border-radius: 25px;  
  transition: .5s;
  font-size: 0.8em;
}
.landing-container__about-container a:hover, .landing-container__project-container a:hover
{
  color: var(--span-color);
  border-color: var(--detail-color);
}

.landing-container__about-container__work div
{
  width: 80vw;
  min-height: auto;
  margin: 2em;
  padding: 2em;
  border-bottom: solid 3px var(--span-color);
  transition: .5s;
}
.landing-container__about-container__work p
{
  margin-bottom: 2em;
  
}


.laning-container__footer
{
  color: var(--detail-color);
  font-weight: bold;
  font-size: .8em;
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #101020;
  padding-bottom: .5em;
}
.contact-container
{
  width: 100%;
  display: flex;
  justify-content: center;  
}
.contact-card
  {
    position: absolute;    
    top: 4em;
    height: fit-content;
    width: 90vmin;    
    border-radius: 3%;
    padding: 1em;  
    padding-bottom: 1.5em;
    background: var(--white);
    box-shadow: 0 0 15px black;
    border: solid rgb(219, 216, 216) 2px;
  }
  .contact-card__name-container
  {
    position: absolute;
    font-family: var(--font);    
    padding: 0;
    text-align: center;
    font-size: 1em;
    letter-spacing: 1px;
    bottom: 20%;    
    right: 0;
  }
  .contact-card h1
  {
    color: var(--darkerBg);
    font-size: 2.5em;
    text-align: center;
    margin-bottom: .5em;

  }
  

  .contact-card ul
  {
    display: inline;
    color: var(--darkerBg);
    font-size: 1em;
    font-weight: bold;
    list-style: none;
  }
  .contact-card ul li span
  {
    display: block;
    font-weight: 900;
    color: var(--darkerBg);
    font-size: 1.4em;    
    animation: go 2s;   
    animation-direction: normal; 
    margin-bottom: .3em;
    margin-top: 1em;
  }
  @keyframes go {
    0%{
    transform: translate(130%);
      
    }
    50%{

    }
    100%{
      transform: translate(0%);
    }    
  }
#span1
{
  animation-delay: .3s;    
}
#span2
{
  animation-delay: .6s;    
}
#span3
{
  animation-delay: 1.2s;    
}
.contact-card ul li
{
  font-weight: 500;
  margin-left: 2em;
}
.contact-card__img
{
  width: 30vmin;
  height: 30vmin;
  border: solid 2px black;
  border-radius: 5%;
  background: var(--background-color);
  background-image: url(./assets/dibujo.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 1em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #101020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222;  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #050510;
}





/*-------------------MOBILE VERSION---------------------------*/
@media (max-width: 900px){    
  .landing-container__menu{
    overflow-x: hidden;
    width: 100vw;
    margin: 0;    
  }
  .landing-container__menu .mainBtn
  {
    display: block;
    position: absolute;
    z-index: 50;    
    font-size: 3em;
    right: 5px;
    background: none;    
    color: var(--span-color);    
    padding: 5px;
    border: none;    
  }
  .landing-container__menu .navContainer.show
{
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
  width: 100%;
  position: absolute;
  transition: .5s;
  z-index: 40;
  overflow-y: hidden;  
}

.landing-container__menu .navContainer{
  display: none;
  
}
  .landing-container__menu .navContainer.hidden
{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);  
  width: 100vw;
  position: relative;
  top: 0;
  transition: .5s;
  transform: translate(100%);
  z-index: 40;
  
}
  .landing-container__menu .navContainer.show button
{
  position: absolute;
  top: 0;
  right: 5px;  
  font-size: 4em;
  background: none;
  border: none;
  padding: 5px;  
  overflow: hidden;
}
  .landing-container__menu .hiddenBtn
{
  display: none;
  
}
.landing-container__menu .navContainer ul
{
  background: none;
  box-shadow: unset;
}
  .landing-container__menu .navContainer ul i
{
  margin: 4px;  
}
  .landing-container__menu .navContainer ul li{
    color: var(--white) ;
    margin-bottom: 1em;
    font-size: 2em;
    display: block;
    padding: 2px;
  }  
  .landing-container__sign-container h1{
    font-size: 2.5em;    
    margin-right: 0;
  }
  .landing-container__about-container
  {
    padding: 1.5em;
  }
  .landing-container__about-container, .landing-container__project-container
  {
    position: absolute;
    top: 0;
    width: 100%;
  } 
  .landing-container__project-container h1
  {
    width: 100%;
    text-align: center;
  }
  .landing-container__about-container__work
  {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .landing-container__about-container__work div
  {
    padding-bottom: 2em;
    border-top: solid 2px var(--span-color);
    border-bottom: solid 2px var(--span-color);
    width: 80vw;    
    margin-top: 3em;
    padding-left: 1em;
    padding-right: 0;
  }
  .landing-container__about-container__work h1
  {
    text-align: center;
  }

  .contact-card
  {
    padding: 1em;
  }

  .contact-card ul li
  {
    margin-left: 0;    
  }
  .contact-container
  {
    border-radius: 0 0 25px 25px;
    width: 100%;
    
  }
}
@media (max-width: 500px){  
  .contact-card__name-container
  {
    font-size: .7em;

  }
  .contact-card{
    position: absolute;
    top: 1em;    
    min-height: 300px;
    min-width: 450px;
    width: 85vh;
    height: 90vw;
    max-width: 600px;
    transform: rotate(90deg) translate(30%);        
  }
  .contact-card h1
  {
    margin-bottom: .2em;
  }
  .contact-card span
  {
    font-size: 0.5em;
  }
  
  .contact-card ul li span
  {
    font-size: 1.2em;    
    margin-top: 4px;
    margin-bottom: 3px;
  }
  .contact-card__img
  {
    top: 30%;
  }
}