*
{
  margin: 0;
  padding: 0;  
  font-family: 'Orbitron', sans-serif;
}
body
{
  overflow: hidden;
}

.landingContainer
{
  width: 100%;
  min-height: 100vh;
  background: #010001;  
}
.navContainer.show
{
  width: 100%;
  min-height: 100vh;  
  transition: .8s;
  position: absolute;
  right: 0;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(2px);
  z-index: 9;
}
.navContainer
{
  width: 200px;
  min-height: 100vh;  
  transition: .8s;
  position: absolute;  
  position: absolute;  
  right: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  z-index: 9;
}
.navContainer button
{
  font-size: 3em;
  background: black;
}
.navContainer ul
{
  list-style: none;
  width: 100%;
  text-align: center;
}

.navContainer ul li
{
  margin-bottom: 3em;
  font-size: 1.3em;
  font-weight: 900;
  color: #D9DCD6;
  transition: .3s;
  cursor: pointer;
}

.navContainer ul li:hover
{
  color: #119DA4;
  transform: scale(1.2);
}

.mainBtn
{
  font-size: 2em;
  background-color: transparent;
  color: #D9DCD6;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.presentation
{
  width: fit-content;
  position: absolute;
  transform: translate(0, 10rem);
}

.presentation h1
{
  color: #D9DCD6;
  font-size: 5em;
  margin: 15px;
  border-bottom: solid 2px #119DA4;  
}
.presentation h1 span
{
  color: #119DA4;
  z-index: 555;
}
.presentation h2
{
  color: #D9DCD6;
  margin: 0 15px 0 ;
  font-size: 2em;
}
.presentation ul{
  list-style: none;
  margin-left: 15px;
}
.presentation ul li
{
  color: #D9DCD6;
  display: inline-block;
  font-size: 2em;
  margin-right: 20px;
  margin-top: 15px;
  transition: .5s;
  cursor: pointer;
}
.presentation ul li:hover
{
  color: #119DA4;
  transform: scale(1.2);
}
.mark
{
  font-size: 1em;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 5px;
  color: #D9DCD6;
}
/*
.decoration
{
  width: 38em;
  height: 10px;
  background: #B7990D;
  transform: rotate(45deg) translate(50px, 130px);
  box-shadow: 0 0 10px 10px black;
}*/